/*! Custom giscus theme for DaisyUI emerald */

main {
  --color-prettylights-syntax-comment: #6e7781;
  --color-prettylights-syntax-constant: #0550ae;
  --color-prettylights-syntax-entity: #8250df;
  --color-prettylights-syntax-storage-modifier-import: #24292f;
  --color-prettylights-syntax-entity-tag: #116329;
  --color-prettylights-syntax-keyword: #cf222e;
  --color-prettylights-syntax-string: #0a3069;
  --color-prettylights-syntax-variable: #953800;
  --color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
  --color-prettylights-syntax-invalid-illegal-text: #f6f8fa;
  --color-prettylights-syntax-invalid-illegal-bg: #82071e;
  --color-prettylights-syntax-carriage-return-text: #f6f8fa;
  --color-prettylights-syntax-carriage-return-bg: #cf222e;
  --color-prettylights-syntax-string-regexp: #116329;
  --color-prettylights-syntax-markup-list: #3b2300;
  --color-prettylights-syntax-markup-heading: #0550ae;
  --color-prettylights-syntax-markup-italic: #24292f;
  --color-prettylights-syntax-markup-bold: #24292f;
  --color-prettylights-syntax-markup-deleted-text: #82071e;
  --color-prettylights-syntax-markup-deleted-bg: #ffebe9;
  --color-prettylights-syntax-markup-inserted-text: #116329;
  --color-prettylights-syntax-markup-inserted-bg: #dafbe1;
  --color-prettylights-syntax-markup-changed-text: #953800;
  --color-prettylights-syntax-markup-changed-bg: #ffd8b5;
  --color-prettylights-syntax-markup-ignored-text: #eaeef2;
  --color-prettylights-syntax-markup-ignored-bg: #0550ae;
  --color-prettylights-syntax-meta-diff-range: #8250df;
  --color-prettylights-syntax-brackethighlighter-angle: #57606a;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #8c959f;
  --color-prettylights-syntax-constant-other-reference-link: #0a3069;
  --color-btn-text: #333c4d;
  --color-btn-bg: #e8e8e8;
  --color-btn-border: rgb(31 35 40 / 15%);
  --color-btn-shadow: 0 1px 0 rgb(31 35 40 / 4%);
  --color-btn-inset-shadow: inset 0 1px 0 rgb(255 255 255 / 25%);
  --color-btn-hover-bg: #d1d1d1;
  --color-btn-hover-border: rgb(31 35 40 / 15%);
  --color-btn-active-bg: #d1d1d1;
  --color-btn-active-border: rgb(31 35 40 / 15%);
  --color-btn-selected-bg: #d1d1d1;
  --color-btn-primary-text: #333c4d;
  --color-btn-primary-bg: #66cc8a;
  --color-btn-primary-border: rgb(31 35 40 / 15%);
  --color-btn-primary-shadow: 0 1px 0 rgb(31 35 40 / 10%);
  --color-btn-primary-inset-shadow: inset 0 1px 0 rgb(255 255 255 / 3%);
  --color-btn-primary-hover-bg: #52b876;
  --color-btn-primary-hover-border: rgb(31 35 40 / 15%);
  --color-btn-primary-selected-bg: #66cc8a;
  --color-btn-primary-selected-shadow: inset 0 1px 0 rgb(0 45 17 / 20%);
  --color-btn-primary-disabled-text: rgb(255 255 255 / 80%);
  --color-btn-primary-disabled-bg: #8ef4b2;
  --color-btn-primary-disabled-border: rgb(31 35 40 / 15%);
  --color-action-list-item-default-hover-bg: rgb(208 215 222 / 32%);
  --color-segmented-control-bg: #e8e8e8;
  --color-segmented-control-button-bg: #ffffff;
  --color-segmented-control-button-selected-border: #d1d1d1;
  --color-fg-default: #333c4d;
  --color-fg-muted: #858a94;
  --color-fg-subtle: #999ea6;
  --color-canvas-default: #ffffff;
  --color-canvas-overlay: #ffffff;
  --color-canvas-inset: #e8e8e8;
  --color-canvas-subtle: #e8e8e8;
  --color-border-default: #d1d1d1;
  --color-border-muted: #dbdbdb;
  --color-neutral-muted: rgb(175 184 193 / 20%);
  --color-accent-fg: #66cc8a;
  --color-accent-emphasis: #66cc8a;
  --color-accent-muted: rgb(102 204 138 / 40%);
  --color-accent-subtle: #e8f7ed;
  --color-success-fg: #00a96e;
  --color-attention-fg: #fcb700;
  --color-attention-muted: rgb(252 183 0 / 40%);
  --color-attention-subtle: #fff8e6;
  --color-danger-fg: #ff5861;
  --color-danger-muted: rgb(255 88 97 / 40%);
  --color-danger-subtle: #ffeeef;
  --color-primer-shadow-inset: inset 0 1px 0 rgb(208 215 222 / 20%);
  --color-scale-gray-1: #e8e8e8;
  --color-scale-blue-1: #e8f7ed;

  --color-social-reaction-bg-hover: var(--color-scale-gray-1);
  --color-social-reaction-bg-reacted-hover: var(--color-scale-blue-1);
}

main .pagination-loader-container {
  background-image: url("https://github.com/images/modules/pulls/progressive-disclosure-line.svg");
}

main .gsc-loading-image {
  background-image: url("https://github.githubassets.com/images/mona-loading-default.gif");
}
