/*! Custom giscus theme for DaisyUI retro */

main {
  --color-prettylights-syntax-comment: #6e7781;
  --color-prettylights-syntax-constant: #0550ae;
  --color-prettylights-syntax-entity: #8250df;
  --color-prettylights-syntax-storage-modifier-import: #24292f;
  --color-prettylights-syntax-entity-tag: #116329;
  --color-prettylights-syntax-keyword: #cf222e;
  --color-prettylights-syntax-string: #0a3069;
  --color-prettylights-syntax-variable: #953800;
  --color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
  --color-prettylights-syntax-invalid-illegal-text: #f6f8fa;
  --color-prettylights-syntax-invalid-illegal-bg: #82071e;
  --color-prettylights-syntax-carriage-return-text: #f6f8fa;
  --color-prettylights-syntax-carriage-return-bg: #cf222e;
  --color-prettylights-syntax-string-regexp: #116329;
  --color-prettylights-syntax-markup-list: #3b2300;
  --color-prettylights-syntax-markup-heading: #0550ae;
  --color-prettylights-syntax-markup-italic: #24292f;
  --color-prettylights-syntax-markup-bold: #24292f;
  --color-prettylights-syntax-markup-deleted-text: #82071e;
  --color-prettylights-syntax-markup-deleted-bg: #ffebe9;
  --color-prettylights-syntax-markup-inserted-text: #116329;
  --color-prettylights-syntax-markup-inserted-bg: #dafbe1;
  --color-prettylights-syntax-markup-changed-text: #953800;
  --color-prettylights-syntax-markup-changed-bg: #ffd8b5;
  --color-prettylights-syntax-markup-ignored-text: #eaeef2;
  --color-prettylights-syntax-markup-ignored-bg: #0550ae;
  --color-prettylights-syntax-meta-diff-range: #8250df;
  --color-prettylights-syntax-brackethighlighter-angle: #57606a;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #8c959f;
  --color-prettylights-syntax-constant-other-reference-link: #0a3069;
  --color-btn-text: #793205;
  --color-btn-bg: #e4d8b4;
  --color-btn-border: rgb(31 35 40 / 15%);
  --color-btn-shadow: 0 1px 0 rgb(31 35 40 / 4%);
  --color-btn-inset-shadow: inset 0 1px 0 rgb(255 255 255 / 25%);
  --color-btn-hover-bg: #dbca9b;
  --color-btn-hover-border: rgb(31 35 40 / 15%);
  --color-btn-active-bg: #dbca9b;
  --color-btn-active-border: rgb(31 35 40 / 15%);
  --color-btn-selected-bg: #dbca9b;
  --color-btn-primary-text: #ffffff;
  --color-btn-primary-bg: #ff9fa0;
  --color-btn-primary-border: rgb(31 35 40 / 15%);
  --color-btn-primary-shadow: 0 1px 0 rgb(31 35 40 / 10%);
  --color-btn-primary-inset-shadow: inset 0 1px 0 rgb(255 255 255 / 3%);
  --color-btn-primary-hover-bg: #eb8b8c;
  --color-btn-primary-hover-border: rgb(31 35 40 / 15%);
  --color-btn-primary-selected-bg: #ff9fa0;
  --color-btn-primary-selected-shadow: inset 0 1px 0 rgb(0 45 17 / 20%);
  --color-btn-primary-disabled-text: rgb(255 255 255 / 80%);
  --color-btn-primary-disabled-bg: #ffc7c8;
  --color-btn-primary-disabled-border: rgb(31 35 40 / 15%);
  --color-action-list-item-default-hover-bg: rgb(208 215 222 / 32%);
  --color-segmented-control-bg: #e4d8b4;
  --color-segmented-control-button-bg: #ece3ca;
  --color-segmented-control-button-selected-border: #dbca9b;
  --color-fg-default: #793205;
  --color-fg-muted: #a77954;
  --color-fg-subtle: #b38b68;
  --color-canvas-default: #ece3ca;
  --color-canvas-overlay: #ece3ca;
  --color-canvas-inset: #e4d8b4;
  --color-canvas-subtle: #e4d8b4;
  --color-border-default: #dbca9b;
  --color-border-muted: #e5d4a5;
  --color-neutral-muted: rgb(175 184 193 / 20%);
  --color-accent-fg: #ff9fa0;
  --color-accent-emphasis: #ff9fa0;
  --color-accent-muted: rgb(255 159 160 / 40%);
  --color-accent-subtle: #efd9c4;
  --color-success-fg: #00776f;
  --color-attention-fg: #f34700;
  --color-attention-muted: rgb(243 71 0 / 40%);
  --color-attention-subtle: #edd3b6;
  --color-danger-fg: #ff6266;
  --color-danger-muted: rgb(255 98 102 / 40%);
  --color-danger-subtle: #eed6c0;
  --color-primer-shadow-inset: inset 0 1px 0 rgb(208 215 222 / 20%);
  --color-scale-gray-1: #e4d8b4;
  --color-scale-blue-1: #efd9c4;

  --color-social-reaction-bg-hover: var(--color-scale-gray-1);
  --color-social-reaction-bg-reacted-hover: var(--color-scale-blue-1);
}

main .pagination-loader-container {
  background-image: url("https://github.com/images/modules/pulls/progressive-disclosure-line.svg");
}

main .gsc-loading-image {
  background-image: url("https://github.githubassets.com/images/mona-loading-default.gif");
}
