---
import BaseLayout from '@/layouts/base-layout.astro';
---

<BaseLayout title="Astro" description="Astro is a static site builder for the modern web.">
  <h1>MAIN</h1>

  <a href="/about">About</a>
  <a href="/blog">Blog</a>
  <a href="/showcase">Showcase</a>
</BaseLayout>
